.wrapper{
  width:100%;
  position: fixed;
  z-index: 1;
}

.gifImgs{
  margin-top: 100px;
}

#carouselContainer{
  width: 600px;
  height: 420px;
  margin: auto;

}
.minimumHgt{
  min-height: 150px;
}
.minHgt{
  border-radius: 10px;
  min-height: 100px;
  margin-top: 50px;
}

.headingStyle{
  background-color: orange;
  padding-top: 50px;
}
.styleExplorer{
  padding-top: 100px;
  margin-bottom: 40px;
}

.centerImg{
display: block;
margin-left: auto;
margin-right: auto;
width: 84px;
height:74px;
}
.reviewStyle{
  padding-top: 100px;
}
.marginThis{
  padding-top: 100px;
}
#headerSearch{
  padding-top: 100px;
}
.imgDisplay{
  padding-top: 130px;
}
.locationLocation{
  float: right;
}
.footer{
  background-color: grey;
  width: auto;
  height: 200px;
}
.iframe{
  margin-top: -40px;
  margin-right: 20px;
}
.locationTxt{
  margin-left: 60%;
  padding-top: 20px;

}
.feedbackTxt{
  min-width: 500px;
  min-height: 100px;
}
.contactStyle{
  margin-top: -40px;
  padding-left: 20px;
}
